body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:829px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:472px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u17 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:58px;
  width:760px;
  height:472px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:193px;
  width:300px;
  height:68px;
  font-size:18px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:296px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:319px;
  width:387px;
  height:22px;
  font-size:18px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
